img {
    width: 100%;
    height: 350px;
    border-radius: 28px;
    margin-block: 48px 20px;
    object-fit: cover;
}

h3 {
    font-size: 28px;
    padding-bottom: 4px;
}

ol li {
    list-style: none;
}

ol.numbered {
    counter-reset: mynum;
}

h3.numbered::before {
    content: counter(mynum) ". ";
    counter-increment: mynum;
    font-weight: bold;
}

.history { 
    list-style-type: disc;
    list-style-position: inside;
    color: var(--accent-blue);
    font-weight: bold;
}

li::marker{
    color: black;
}

.Couples {
    list-style-type: disc;
    list-style-position: inside;
    color: #591B98;
    font-weight: bold;
}

.Families {
    list-style-type: disc;
    list-style-position: inside;
    color: #E5245E;
    font-weight: bold;
}

.Budget {
    list-style-type: disc;
    list-style-position: inside;
    color: #E95E10;
    font-weight: bold;
}

.description {
    text-align: center;
}

